requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.3.0
schedule==1.2.2
python-telegram-bot==21.5
colorlog==6.8.2
tqdm==4.66.5
pytz==2024.2
ntscraper==0.3.13
aiohttp==3.10.10
filelock==3.16.1
orjson==3.10.7
redis==5.0.8
deep-translator==1.11.4
cloudscraper==1.8.0  # برای bypass کردن Cloudflare (اختیاری)
